h2{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: aliceblue;
    border-style:solid;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px;
}

body{
    background-color: darkgrey;
}

h1{
    background-color: aliceblue;
    padding-left: 26px;
    border-style: solid;
    margin-right: 1620px;
    margin-left: 40px;
    box-shadow: 10px 10px;
}

.mynav a:hover{
    background-color:orange ;
}

.mynav{
    border-style: solid;
    padding-left: 3px;
    width: 250px;
    text-align: center;
    margin-left: 70%;
    background-color: white;
    color: black;
    box-shadow: 10px 10px;
}

.mainbox {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: aliceblue;
    border-style:solid;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 10px;
    padding-bottom: 10px; 
    box-shadow: 10px 10px;
}

img{

    padding-right: 50px;
    padding-top: 50px;
}

h1{
    color: black;
}

.center{
    margin-left: 45%;
    margin-right: 55%;
    width: 55%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 8px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
}
.middle{
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.mycode{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.river{
    margin-left: 30%;
    margin-right: 45%;
    width: 25%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.college{
    margin-left: 30%;
    margin-right: 70%;
    width: 40%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 8px;
    width: 300px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.logo{
    margin-left: 40%;
    margin-right: 60%;
    width: 40%;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 8px;
    width: 300px;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.column{
    float:left;
}
.left{
    width: 50%;
    margin-top: 5%;
}
.right{
    width: 50%;
    margin-top: 5%;
}
a:visited{
    color: black;
}
.playstation {
    float: right;
    width: 25%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.cooking {
    float: right;
    width: 25%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.computer {
    float: right;
    width: 25%;
    margin-top: 30px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.active{
    color: black;
    background-color: orange;
    text-decoration: solid;
}